<h2>Danh sách truyện</h2>
<table border="1" cellpadding="10" cellspacing="0">
  <tr>
    <th>ID</th>
    <th>Tên truyện</th>
    <th>Tác giả</th>
    <th>Lượt xem</th>
    <th>Hành động</th>
  </tr>

  @for (story of stories; track story.id) {
  <tr>
    <td>{{ story.id }}</td>
    <td>{{ story.title }}
      @if (story.views > 90000) {
  <p>🔥 HOT</p>
  }
    </td>
    
    <td>{{ story.author }}</td>
    <td>{{ story.views }}</td>
    
    <td>
      <button 
          class="btn btn-danger" 
          [disabled]="loading"
          (click)="deleteStory(story.id)">
          @if (loading) {
  <span>Đang xóa...</span>
} @else {
  <span>Xóa</span>
}
        </button>
    </td>
  </tr>
  }
</table>