<h2>Thêm truyện tranh</h2>

<form [formGroup]="addForm" (ngSubmit)="submitForm()">
  <div>
    <label>Tên truyện</label>
    <input type="text" formControlName="title" />
    @if (title?.invalid && title?.touched){
        <p style="color:red">Tên truyện phải ít nhất 3 kí tự</p>
    }
  </div>

  <div>
    <label>Tác giả</label>
    <input type="text" formControlName="author" />
  </div>

  <div>
    <label>Lượt xem</label>
    <input type="number" formControlName="views" />
    @if (views?.invalid && views?.touched){
        <p style="color:red">Lượt xem phải là một số không âm</p>
    }
  </div>

  <button class="btn btn-danger" 
          [disabled]="loading"
          (click)="submitForm"
          [disabled]="addForm.invalid">
          @if (loading) {
  <span>Đang thêm...</span>
} @else {
  <span>Thêm Truyện</span>
}</button>
</form>
@if (success1) {
<p style="color: green">{{ success1 }}</p>
} @if (error) {
<p style="color: red">{{ error }}</p>
}
<!-- Bài 1 -->
<h2>Form thêm Product</h2>

<form [formGroup]="addForm1" (ngSubmit)="submitForm1()">
  <div>
    <label>Tên sản phẩm</label>
    <input type="text" formControlName="name" />
    @if (name?.invalid && name?.touched){
        <p style="color:red">Tên sản phẩm không được bỏ trống</p>
    }
  </div>

  <div>
    <label>Giá sản phẩm</label>
    <input type="number" formControlName="price" />
    @if (price?.invalid && price?.touched){
        <p style="color:red">giá sản phẩm phải lớn hơn 0</p>
    }
  </div>

  <div>
    <label>Loại sản phẩm</label>
    <input type="text" formControlName="category" />
    
  </div>

  <button class="btn btn-danger" 
          [disabled]="loading"
          (click)="submitForm1"
          [disabled]="addForm1.invalid">
          @if (loading) {
  <span>Đang thêm...</span>
} @else {
  <span>Thêm Sản Phẩm</span>
}</button>
</form>
@if(success2){
  <p style="color: green;">{{ success2 }}</p>
} @if(error){
  <p style="color: red;">{{ error }}</p>
}

<!-- Bài 2 -->
<h2>Form đăng ký tài khoản</h2>

<form [formGroup]="addForm2" (ngSubmit)="submitForm2()">
  <div>
    <label>Tên Đăng Nhập</label>
    <input type="text" formControlName="username" />
    @if (username?.invalid && username?.touched){
        <p style="color:red">Không được bỏ trống tên</p>
    }
  </div>

  <div>
    <label>Email</label>
    <input type="text" formControlName="email" />
    @if (email?.invalid && email?.touched){
        <p style="color:red">Không được bỏ trống Email</p>
    }
  </div>

  <div>
    <label>PassWord</label>
    <input type="password" formControlName="password" />
    @if (password?.invalid && password?.touched){
        <p style="color:red">Password không hợp lệ</p>
    }
  </div>

  <button type="submit" [disabled]="addForm2.invalid">Đăng Ký</button>
</form>

